.c-sideboard {
    height: auto;
    padding: 20px;
    width: 260px;
    background-color: #2c2f33;
    position: relative;
}
.c-sideboard a {
    text-decoration: none;
    color: inherit;
}
.c-sideboard__item {
    display: flex;
    border-radius: 10px;
    padding: 16px 20px;
    transition: all 500ms;
    margin-top: 10px;
}
.c-sideboard__item:hover {
    background-color: #23272a;
}
.c-sideboard__item img {
    height: 25px;
    width: auto;
}
.c-sideboard__item span {
    padding-left: 10px;
    font-size: 20px;
    align-self: center;
}
.c-sideboard__item__a--active .c-sideboard__item {
    background-color: #23272a;
}
.c-sideboard__copyright {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    text-align: center;
}