.c-tasks__task span {
    display: block;
    font-size: 22px;
    padding-left: 38px;
    pointer-events: none;
    width: calc(100vw - 510px);
    word-break: break-all;
}
.c-tasks__task img {
    position: absolute;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
}
.c-tasks__task {
    position: relative;
    padding: 30px;
    border-radius: 10px;
    width: calc(100vw - 400px);
    background-color: #373a3e;
}
.c-tasks__task:hover {
    background-color: #313336;
}
.c-tasks__task__state {
    pointer-events: none;
}
.c-tasks__task__delete {
    right: 20px;
}
.c-tasks__task__edit {
    right: 60px;
}
.c-tasks__taskdescription {
    border-radius: 0px 0px 10px 10px;
    margin-top: -10px;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 30px;
    background-color: #282b30;
    width: calc(100vw - 380px);
    word-break: break-all;
}