.p-sideboard {
    height: auto;
    padding: 20px;
    width: 260px;
    background-color: #2c2f33;
}
.p-sideboard a {
    text-decoration: none;
    color: inherit;
}
.p-sideboard__item {
    display: flex;
    border-radius: 10px;
    padding: 16px 20px;
    transition: all 500ms;
    margin-top: 10px;
}
.p-sideboard__item:hover {
    background-color: #23272a;
}
.p-sideboard__item img {
    height: 25px;
    width: auto;
}
.p-sideboard__item span {
    padding-left: 10px;
    font-size: 20px;
    align-self: center;
}
.p-sideboard__item__a--active .p-sideboard__item {
    background-color: #23272a;
}